<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main class="container">
		<h2>Action <%= this.tache %> added !</h2>
		<p>Return to <a href="/">Home page</a></p>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>
