<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main class="container">
		<h2>Action <%= this.tache %> wasn't added</h2>
		<p>Retry <a href="/">Add page</a></p>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>

</html>
