<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	 <main>
	 	<h1>To do :</h1>
		<ul>
			<li><button><i class="fa fa-times"></i></button>Faire ça</li>
			<li><button><i class="fa fa-times"></i></button>Faire ça</li>
			<li><button><i class="fa fa-times"></i></button>Faire ça</li>
			<li><button><i class="fa fa-times"></i></button>Faire ça</li>
		</ul>
	 </main>
	 <footer>
	 	<% include ../partials/footer %>
	 </footer>
</body>

</html>
